* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "Poppins";
}

/* 
=================================================================
========================= HEADER ================================
=================================================================
 */

#home {
    background-image: radial-gradient(white, #89cff0);
    height: 100%;
    padding: 0 10%;
}

header h2 {
    color: white;
    display: flex;
    text-align: left;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;

}


header li {
    display: flex;

}

.logos-header {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    

}


header img {
    height: 50px;
    justify-content: center;

} 


a {
    text-decoration: none;
    color: white;

}

