* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

/* 
=================================================================
========================= HEADER ================================
=================================================================
 */


header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 40px;
    background-image: radial-gradient(white, #89cff0);
}

.navbar {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;

}

.navbar .titre {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.navbar a {
    
    color: white;
    text-decoration: none;
    flex-wrap: nowrap;
    transition: 0.5s;
}

.navbar .logos-header {
    display: flex;
    float: right;
}

#home {  
    padding: 0 10%;
}


header ul {
    display: inline-flex;
    
    list-style-type: none;
    padding-left: 20%;
    font-size: 17px;
}


header li {
    display: flex;
    padding-right: 20px;
    text-align: center;
}

.logos-header {

     display:inline-block;
    flex-direction: row;
    color: white;
    width: 20%;
    justify-content: space-evenly;

}


header img{
   display: flex;
    width: 50%;
    float: right;
    position: absolute;
    bottom: 20%;
    left: 40%;
    padding-left: 30px;

} 

#home h1 {

    margin-top: 15%;
    font-weight: bold;
    font-size: 50px;
    text-align: justify;

   
}

#home p {
    margin-top: 30px;
    text-wrap: wrap;
    text-align: justify;
    padding-bottom: 30px;


}


.navbar a:hover {
    opacity: 0.7;
}
/* 
=================================================================
========================= NEWSLETTER ================================
=================================================================
 */

.newsletter input {
    padding-left: 50px;
    border-radius: 30px;
    border: none;
    padding: 15px;
    width: 30%;
 
}

 .newsletter button {
    position: absolute;
    background-color: #54B0FF;
    color: white;
    border-radius: 30px;
    margin-top: 3px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    transform: translate(-105%,0%);
    border: none;
    transition: 0.5s;
 }


 .newsletter button:hover {
    opacity: 0.8;
 }

/* 
=================================================================
========================= FEATURES ================================
=================================================================
 */


 #features {
    padding-top: 30px;
 }

#features h2 {
    display: flex;
    padding-bottom: 10px;
      justify-content: center;
      text-align: justify;
}

.titre {
   
    justify-content: center;
    text-align: center;
    color: grey;
    opacity: 0.7;
}

#container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 150px;
}


.cards-1:hover {
    transform: translateY(-20px);
}

.cards-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    background-image: radial-gradient(#2596be, #126180 90%);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: 0.5s;
  
}

.cards-1 i {
    padding-top: 50px;
    height: 100px;
    color: white;
    font-size: 40px;
}

.cards-1 h3 {
    
   padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

.cards-1 p {

    font-size: 14px;
    color: white;
    font-weight: 300;

}

.cards-1-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}


 /*=================================================================
========================= MEMBERS ================================
=================================================================
 */


 #team {
    min-height: 80vh;
 }

 #team h2 {
    
    text-align: center;
    justify-content: justify;
    padding-bottom: 20px;

 }

 .titre-team {
   
    justify-content: center;
    text-align: center;
    color: grey;
    opacity: 0.7;
    padding-bottom: 50px;
 }

.equipe {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    text-align: center; 
   
}

.cards-2 p {
    padding-bottom: 30px;
    opacity: 0.7;
  
}


.cards-2 strong {
    font-size: 20px;
    opacity: 1;
}

.cards-2 h3 {
    font-size: 17px;
    font-weight: 500;
   
}

.cards-2-header{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
   
}

.cards-2-header img {
    /* display: block; */
     transition: 0.5s;
     width: 100%;
     height: 100%;
     object-fit: cover;
    filter: grayscale(1);

 
}

.cards-2:hover .cards-2-header img {
    transform: scale(1.1);
}

.cards-2-header img:hover {
    filter: grayscale(0);
}


.cards-2-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column;
    width: 50px;
    height: 50px;
    position: absolute;
    transition: 0.5s;
    bottom: -100px;
}


.cards-2-header i {
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    margin: 5px;
    padding: 15px 25px 10px 10px;
    background-color: white;
    padding-bottom: 20px;
   border-radius: 50%;
}


.cards-2-header a {
    text-decoration: none;
    color: black;
}

.cards-2:hover .cards-2-logos {
    top: 80px;
    transform: translate(10px, 10px);

}

  /*=================================================================
========================= PARALLAX================================
=================================================================
 */




#parallax {
    min-height: 50vh;
    background-image: url(parallax.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


 #parallax .parallax-text {
    height: 100%;
    width: 100%;
   padding-top: 150px;
   padding-bottom: 150px;
    color: white;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(0, 0, 0, 0.6)
}



#parallax .parallax-text h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}



.parallax-text p {
    margin-bottom: 50px;
}


.parallax-text a {
    display: flex;
    height: 50px;
    width: 150px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: white 2px solid;
    border-radius: 5px;
    transition: 0.5s;
}


.parallax-text a:hover {
    transform: translateY(-5px);
    background-color: white;
    color: black;
}

  /*=================================================================
========================= BLOG ================================
=================================================================
 */
#blog {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;}


.cards-3 {
    background: #fff;
    width: 400px;
    justify-content: space-evenly;
  
}

.cards-3-header {
    position: relative;
    height: 300px;
    width: 400px;
    overflow: hidden;
  
}

.cards-3-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;

}

.cards-3 p {
 margin-top: 10px;
 opacity: 0.7;
}

.cards-3-text h3 {
    text-align: justify;
    font-weight: 600;
    margin-top: 10px;

}

.cards-3-text a {
    margin-top: 10px;
    text-decoration: none;
    color: #126180;
    font-weight: 500;
}

#blog {
  display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.cards-3 img:hover {
    filter: brightness(70%);

}

.auteur { display: flex;
padding-right: 160px;
font-size: 20px;
font-weight: 500;}

.date { display: flex;}

.survol {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.survol i {
    padding-top: 10px;
}

.cards-3:hover .survol {
    display: flex;
    align-items: flex-end;
    color: #fff;
    height: 50px;
    top: 0;
    font-size: 15px;
    position: absolute;
    padding-left: 20px;
  
}

.cards-3:hover .survol i {
    padding-right: 5px;
    font-size: 20px;
}


 
  /*=================================================================
========================= PRICING================================
=================================================================
 */

#pricing {
    padding-left: 50px;
    padding-right: 50px;
    min-height: 80vh;
    position: relative;
}

#pricing h2 {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}


.pricing-text {
    justify-content: justify;
    text-align:  start;
    margin-left: 150px;
    position: relative;

}


.pricing-stat {
    flex-wrap: wrap;
}

.pricing-stats p {
    opacity: 0.5;
}

.pricing-text p {
    opacity: 0.5;
    justify-content: justify;
    margin-bottom: 40px;
   
}

.pricing-stats {
    display: flex;
    gap: 60px;
  
}
.pricing-text strong {
    font-size: 20px;
    font-weight: 600;
}


#pricing img {
    display: flex;
    position: absolute;
    float: right;
    margin-right: 150px;
    right: 0;
    width: 30%;
    top: 0;
}

.pricing-text a {
    color: white;
    background-color: #2596be;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

 .cards-pricing {
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.05)
}


.cards-pricing h2 {
    text-align: center;
    padding-top: 10px;
}


 .pricing-line {
    text-align: center;
    padding-bottom: 30px;
    justify-content: justify;
    opacity: 0.4;
}

.cards-4 {
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    width: 400px;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;;
}

.cards-4-header {
    height: 100%;
    width: 300px;
    position: relative;
}

.cards-4-header-text {
    text-align: center;
    padding-left: 35px;
}

.cards-4-header .solde {
    position: absolute;
    display: flex;
    top: -35px;
    right: -75px;
    align-items: center;
    text-align: center;
    background-color: #126180;
    border-radius: 20%;
    color: white;
    height: 60px;
    width: 60px;
}

.cards-4-text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cards-4-text h3 {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.cards-4 strong {
    color: #2596be;
    font-size: 50px;
    font-weight: 400;
}

.cards-4 li {
    list-style-type: none;
    margin: 10px;
}

.cards-4 ul {
    float: left;
    
}

.cards-4-translate {
transform: translateY(-20px);
}


.cards-4-all{
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards-4 a {
    color: white;
    background-color: #2596be;
    align-items: center;
    text-decoration: none; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 5px;
}


  /*=================================================================
========================= TOP BUTTON ================================
=================================================================
 */

 .gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: grey;
    padding: 10px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    color: white;
    font-size: 22px;
    
 }

  /*=================================================================
========================= FOOTER ================================
=================================================================
 */

footer {
    position: relative;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.8)
}

.logos {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.logos-footer {
    display: flex;
    color: grey;
    font-size: 20px;
    height: 50px;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px grey solid;
    border-radius: 50%;
}

#contacts li{
 color: grey;
 display: flex;
 padding-right: 5px;
}

#contacts ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}


#contacts small {
    color: grey;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.logos-footer a {
    color: grey;
    display: flex;
    text-decoration: none;
    align-items: center;
}

footer a {
    color: grey;
    text-decoration: none;
}

/*=================================================================
========================= RESPONSIVE ================================
=================================================================
 */

 @media screen and (max-width: 768px) {
    
    #wrapper {
        padding: 0%;
    }

    .navbar {flex-wrap: wrap;}

    #home ul {
        padding-left: 0;
    }

    header img {
     bottom: 150px;

    }

    .newsletter button {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logos-header {
        padding-top: 20px;
    }
    
    .equipe {
        flex-direction: column;
    }

    .cards-2-header {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .cards-3-all {
        flex-direction: column;
    }

    .cards-3 {
        padding-top: 10px;
    }

    #pricing {
        padding-top: 150px;
    }

    .pricing-text {
       margin: 0;
    }

    #pricing img {
        margin: 0;
        top: 200px;
    }

    .cards-4-all {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .cards-4-translate {
        transform: none;
    }
 }